{% extends 'CGCuddleBundle::layout.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block cgcuddle_main %}
    <h2>Mes câlins reçus</h2>
    <ul>
        {% for cuddleUser in cuddlesUsers %}
            <li>
                <strong>{{ cuddleUser.cuddle.category.name }}</strong>
                : "{{ cuddleUser.cuddle.content }}", reçu le {{ cuddleUser.date | date('d/m/Y \à H:i') }}
            </li>
        {% else %}
            Vous n'avez pas encore reçu de câlins !
            <br /><a href="{{ path('cg_cuddle_category_subscriptions') }}">Inscrivez-vous à une catégorie</a> pour recevoir des câlins de celle-ci !
        {% endfor %}
    </ul>
    
{% endblock %}