<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>De nouveaux câlins sont arrivés pour vous !</title>
</head>
<body>
<div style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
    <h1>De nouveaux câlins sont arrivés pour vous !</h1>
    <p>
        Bonjour {{ user.username }},
    </p>
    <p>
        Vous avez reçu des nouveaux câlins !
    </p>
    <ul>
        {% for cuddle in cuddles %}
            <li>
                <strong>{{ cuddle.category.name }}</strong>
                : "{{ cuddle.content }}"
            </li>
        {% endfor %}
    </ul>

    <p>
        Vous pouvez consulter tous les câlins que vous avez reçus dans votre espace personnel : <a href="{{ url('cg_cuddle_home') }}">{{ url('cg_cuddle_home') }}</a>
    </p>
    <p>
        Passez une bonne journée !<br/>
        L'équipe CuddleGenerator
    </p>
</div>
</body>
</html>